@import url('https://fonts.cdnfonts.com/css/gagalin');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    height: 100%;
    background-color: #012025;
    font-family: 'Gagalin', sans-serif;
    color: #FFF;
}

header{
    background-color: #15af9d;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 5rem;
}

.logo img{
    width: 7em;
    height: 7em;
    border-radius: 100px;
    margin-left: 5em;
}

ul{
    display: flex;
    margin-right: 5em;
}

li{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    cursor: pointer;
    color: #FFF;
    font-size: 22px;
    margin-right: 5em;
}

li a{
    text-decoration: none;
    color: #FFF;
}

#home{
    display: flex;
    flex-direction: row;
}

.information{
    width: 50%;
    height: 100vh;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information p{
    display: flex;
    text-align: center;
    width: 70%;
    padding: 2em;
    border: solid 1px #078a85;
    border-radius: 10px;
    font-size: 18px;
}

.information h1{
    border-right: 4px solid;
    width: 9ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(9),
    blinking 0.5s infinite step-end alternate;
    color: #FFF;
}

@keyframes typing{
    from{
        width: 0;
    }
}

@keyframes blinking{
    50%{
        border-color: transparent;
    }
}


.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.profile h2{
    color: #FFF;
}

.card{
    padding: 4em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 15em;
    background-color: darkgray;
    border-radius: 100%;
    margin-bottom: 1em;
}

.social{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 0.75em;
}

.social img{
    width: 2.5em;
    height: 2.5em;
}

#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    margin-bottom: 5em;
}

.languages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3em;
}

.languages img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#card{
    width: 10em;
    height: 10em;
    border-radius: 100%;
}

#projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects img{
    width: 70%;
    height: 70%;
}

.list-projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}


#box{
    border: solid 1px #078a85;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
}

.btn-acess a{
    text-decoration: none;
    color: #000;
}

.btn-acess button{
    background-color: #078a85;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Gagalin', sans-serif;
}

.btn-acess button:hover{
    background-color: #0baca6;
}

footer{
    background-color: #1F252D;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    margin-top: 2em;
}

span{
    color: #FFF;
}

@media screen and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 0;
    }
    
    .logo{
        display: none;
    }

    ul{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        gap: 2.5em;
    }

    li{
        margin-right: 0;
    }

    #home{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .profile{
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .information{
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .information p{
        border: solid 1px #078a85;
        border-radius: 10px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5em;
    }

    .languages{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.75em;
    }

    .languages img{
        width: 90%;
        height: 90%;
        cursor: pointer;
    }

    .list-projects{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px){
    .languages{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.5em;
    }

    .list-projects{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) { 
    .languages{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 3em;
    }

    .list-projects{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

