@import url('https://fonts.cdnfonts.com/css/gagalin');

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #0E1114;
}

header{
    background-color: #2AC17B;
    /* background-color: #2A446B; Azul*/
    /* background-color: #03FA6E; Verde Neon*/
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo img{
    width: 73px;
    height: 73px;
    border-radius: 100px;
    margin-left: 5em;
}

ul{
    display: flex;
    margin-right: 5em;
}

li{
    flex-direction: row;
    list-style-type: none;
    cursor: pointer;
    color: #FFF;
    font-size: 18px;
    padding-left: 2rem;
}

li a{
    text-decoration: none;
    color: #FFF;
}

section{
    background-color: #0E1114;
}

#home{
    display: flex;
    flex-direction: row;
}

.information{
    width: 50%;
    height: 100vh;
    font-family: 'Gagalin', sans-serif;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information p{
    display: flex;
    text-align: center;
    width: 70%;
    padding: 2em;
    border: solid 1px #58ce97;
    border-radius: 10px;
    font-size: 18px;
}

.profile h2{
    border-right: 4px solid;
    width: 11ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(11),
    blinking 0.5s infinite step-end alternate;
    color: #FFF;
    font-family: 'Gagalin', sans-serif;
}

@keyframes typing{
    from{
        width: 0;
    }
}

@keyframes blinking{
    50%{
        border-color: transparent;
    }
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.card{
    background-color: #1d6b47;
    padding: 4em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.img-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 15em;
    background-color: darkgray;
    border-radius: 100%;
}

.social{
    display: flex;
    flex-direction: row;
    border-top: solid 1px #FFF;
}

#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.languages{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#card{
    background-color: #D9D9D9;
    width: 6em;
    height: 6em;
    border-radius: 8px;
    margin-right: 10px;
}

.js{
    background-color: #F7DF1E;
}

footer{
    background-color: #1F252D;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

span{
    color: #FFF;
}