*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #0E1114;
}

header{
    background-color: #2AC17B;
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: #FFF;
    font-size: 18px;
}

.information{
    color: #FFF;
}

footer{
    background-color: #1F252D;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

span{
    color: #FFF;
}